{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Coin - Leaderboard</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/leaderboard.css' %}">
</head>
<body>

    <header>
        <div class="logo">
            <img src="{% static 'mainapp/images/logo.png' %}" alt="Green Coin Logo" style="width:50px; height:50px; border-radius: 100%;">
            <span>Green Coin</span>
        </div>
        <nav>
            <ul>

                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'submit_proof' %}">Submit Proof</a></li>
                <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
                <li><a href="{% url 'reward' %}">Rewards</a></li>
                <li><a href="{% url 'awareness' %}">Eco Benefits</a></li>

                {% if not request.session.user_id %}
    <li><a href="{% url 'login' %}">Login</a></li>
  {% endif %}
            </ul>
        </nav>
        <div class="logo">
            <a href="{% url 'profile' %}">
                <img src="{% static 'mainapp/images/profile.png' %}" alt="Profile" style="width:40px; height:40px; border-radius:100%;">
            </a>
        </div>
    </header>

    <main class="main-content-wrapper">
        <section class="leaderboard-section">
            <h2>🌿 Leaderboard 🌿</h2>
            <table class="leaderboard-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>User Name</th>
                        <th>EcoCoins</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.rank }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.earned_coins }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No users found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

    <footer id="Footer">
        <img src="{% static 'mainapp/images/logo.png' %}" alt="Green Coin Logo" class="footer-logo"style="width:40px; height:40px; border-radius:100%;">
        <p><i>"Nature Rewards Those Who Care!"</i></p>
        <p>Contact us at: <a href="mailto:greencoin.support@example.com">greencoin.support@example.com</a></p>
        <p>&copy; 2025 Green Coin. All rights reserved.</p>
    </footer>

</body>
</html>